@model MvcRssReader.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Main";
}
<div class="main-div">
    <div class="title-container">
        <p>Rss reader</p>
        @Html.ActionLink("Sign out", "SignOut", "Account");
    </div>
</div>
